*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 20vh;
}

.logo{
    height: 110px;
}

body{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sf-bg-light-blue{
    background-color: #7ffed4;
    padding: 5%;
}

#button{
        border: solid black 1px;
        border-radius: 20px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
}

#button:hover{
    background-color: rgb(201, 196, 196);
}

/*
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: calc(100% / 8);
    height: calc(100% / 8);
    border: 2px solid white;
    cursor: pointer;
    color: white;
}

.square span{
    display: none;
}
.square.clicked span{
    display: block;
}

.square.even.clicked{
    background-color: #3DC4B6;
}
.square.odd.clicked{
    background-color: brown;
}