*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 20vh;
}

.logo{
    height: 110px;
}

body{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    flex-grow: 1;
}

.sf-bg-light-blue{
    background-color: #7ffed4;
    padding: 5%;
}

.button{
        border: solid black 1px;
        border-radius: 20px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
}

#button:hover{
    background-color: rgb(201, 196, 196);
}

.sf-d-n{
    display: none;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 80px;
    height: 80px;
    border: 2px solid black;
    cursor: pointer;
    color: black;
}

.square.clicked{
    background-color: blue;
}
